.category-list-heading{
    padding-left: 1rem;   
}

.category-list-heading.dark{
    color: #fff;
}

.category-list-heading.light{
    color: #000;
}

.custom-card-items:focus-visible{
    outline: none;
}

.artist-card-image-container{
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 524px) {
    .artist-card-image-container{
        width: 120px;
        height: 120px;
    }
}

.artist-card-image{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    color: #eee;
    text-align: center;
    vertical-align: middle;
}

.custom-card-items .artist-card-image.dark{
    box-shadow: 0 0 10px #777;
}

.custom-card-items .artist-card-image.light{
    box-shadow: 0 0 8px #000;
}

.card-text-container{
    width: 100%;
    margin-top: .5rem;
}

.card-text{
    width: 90%;
    margin: auto;
    padding: 0rem 1rem;
}

.artist-name{
    color: rgb(64, 226, 0) !important;
    margin: 0;
    padding-top: 0 !important;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.artist-name:hover{
    /* text-decoration: underline; */
    cursor: pointer;
}

.artist-name.dark:hover{
    color: #fff !important;
}

.artist-name.light:hover{
    color: #000 !important;
}

@media screen and (max-width: 425px) {

    .artist-name{
        font-size: 1.2rem;
    }
}