.admin-Navigation-container{
    position: fixed;
    width: 100%;
    z-index: 3;
}

.one-row{
    border-bottom: solid 3px rgb(64, 226, 0);
}

.navbarHead{
    font-family: 'Delius Unicase', cursive;
    /* font-family: 'Permanent Marker', cursive;    */
    font-size: 1.75rem;
    color: rgb(64, 226, 0);
    padding-left: 15px;
    cursor: pointer;
}

.navbar-toggler{
    font-size: 1rem;
    padding: 0.25rem .5rem;
}

.navbar-item{
    text-align: left;
}

.extra-spacing{
    padding: 0 7px;
}

.navbar-item-link{
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Delius Unicase', cursive;
    color: rgb(64, 226, 0);
}

.navbar-item-link:hover{
    color: #eee;
}

.navbar-menu-links{
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.offcanvas-tag{
    background-color: rgba(0, 0, 0, .90);
}

.btn-close{
    background-color: #fff;
    border: 1px solid #000 ;
}