.admin-page{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.button-container{
    text-align: right;
}

.add-button-speed-dial{
    position: fixed;
    bottom: 0;
    right: 0;
}

.speed-dial-custom>button,
.speed-dial-custom>button:hover{
    background-color: rgb(217, 0, 255);
    border: 2px solid #eee;
}

.MuiSpeedDialAction-staticTooltipLabel{
    width: max-content;
}

.page-content{
    bottom: 0;
    overflow-y: auto;
}

.page-content.dark::-webkit-scrollbar{
    background: #0A0F18;
}

.page-content.light::-webkit-scrollbar{
    background: #eee;
}

.page-content::-webkit-scrollbar{
    width: .8rem;
}

.page-content::-webkit-scrollbar-track{
    background: #777;
    border-radius: 100vw;
    margin-block: 2rem;
}

.page-content::-webkit-scrollbar-thumb{
    background: rgb(64, 226, 0);
    border: .15em solid #777;
    border-radius: 100vw;
}

@supports (scrollbar-color: red blue){
    .page-content{
        scrollbar-width: thin;
    }

    .page-content.dark{
        scrollbar-color: rgb(64, 226, 0) #0A0F18 ;
    }

    .page-content.light{
        scrollbar-color: rgb(64, 226, 0) #eee;
    }
}

@media screen and (max-width: 768px) {
    .page-content::-webkit-scrollbar{
        width: .2rem !important;
    }

    .page-content::-webkit-scrollbar-thumb{
        border: none !important;
    }
}

.navtabs-autocomplete{
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .navtabs-autocomplete{
        flex-direction: column;
    }

    .align-bottom-flex{
        order: 1;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.MuiAutocomplete-root{
    margin-bottom: 5px;
}

.align-bottom-flex{
    border: none !important;
    align-items: flex-end;
}

.navtabs-autocomplete #auto-complete{
    width: max-content;
}

.autoComplete.dark #auto-complete, 
.autoComplete.dark #auto-complete-label,
.autoComplete.dark .MuiAutocomplete-endAdornment>button{
    color: #fff;
}

.autoComplete.light #auto-complete, 
.autoComplete.light #auto-complete-label,
.autoComplete.light .MuiAutocomplete-endAdornment>button{
    color: #000;
}

.autoComplete.dark .css-ghsjzk-MuiInputBase-root-MuiInput-root::before{
    border-bottom-color: #fff !important;
}

.autoComplete.light .css-ghsjzk-MuiInputBase-root-MuiInput-root::before{
    border-bottom-color: #000 !important;
}


.css-ghsjzk-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid rgb(64, 226, 0) !important;
}

.admin-nav-table-link{
    cursor: pointer;
    color: rgb(64, 226, 0);
}

.admin-nav-table-link:hover,
.admin-nav-table-link:focus,
.admin-nav-table-link:focus-visible{
    border: 1px solid rgb(64, 226, 0) !important;
    color: rgb(64, 226, 0);
}

.admin-table-content{
    font-size: 1rem !important;
    font-family: 'Acme', sans-serif !important;
    /* font-family: 'Alegreya', serif !important; */
    /* font-family: 'Cinzel', serif !important; */
    /* font-family: 'Delius Unicase', cursive !important; */
    /* font-family: 'Permanent Marker', cursive !important; */
}

.admin-table-heading{
    font-size: 1.2rem !important;
}

.admin-table-array-setup{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.custom-table-pagination p{
    margin-top: auto;
}

.music-details{
    width: 90%;
    margin-left: auto;
}

@media screen and (max-width: 991px){
    .music-details{
        width: 100%;
    }
}

.table-edit-delete-button{
    cursor: pointer;
}

.table-edit-delete-button:hover{
    color: rgb(64, 226, 0);
}

.modal-header-title{
    /* padding-left: 2rem; */
    font-size: 2rem;
    
    font-family: 'Acme', sans-serif;
    /* font-family: 'Alegreya', serif; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Delius Unicase', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
}

.music-detail-fields{
    margin: 10px auto;
    width: 100%;
}

.label-styling{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
    margin-bottom: 0;
    font-family: 'Alegreya', serif;
}

.label-styling-checkbox{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
    margin-bottom: 0;
    font-family: 'Alegreya', serif;
}

.customized-form-label{
    top: auto !important;
    left: auto !important;
    background-color: #fff !important;
}

.music-input-detail{
    width: 100%;
}

.image-preview{
    /* min-width: 60%; */
    /* min-height: 30vh; */
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: auto;
    border-radius: 10px;
    /* border: 2px solid #222; */
    /* margin: 5px; */
    padding: 15px;
}

.image-preview-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s ease-in;
}

.image-preview-img:hover{
    box-shadow: 0px 0px 15px rgb(42, 42, 42);
    transform: scale(1.03);
}

.image-upload-button{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.music-upload-space{
    margin: 15px auto;
}

.music-upload-detail{
    text-align: center;
    margin: 10px auto;
}

.music-image-title{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    /* font-family: 'Alegreya', serif; */
    /* font-family: 'Cinzel', serif; */
    
}

.existing-music-play-container{
    padding: 0 10px;
    cursor: pointer;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    /* width: 3rem; */
    width: max-content;
}

.existing-music-play-container > * {
    margin: 0px 2px;
}

.audio-duration{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.audio-duration > *{
    margin: 0 2px;
}

.durationTimer{
    font-family: monospace;
    padding: 0 5px;
}

.admin-audio-progressBar{
    --seek-before-width: 100px;
}

.add-music-button{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #0A0F18;
    background-color: rgb(64, 226, 0);
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 0 20px 10px #eee;
    margin: 0;
    box-shadow: 0 0 20px 10px #036403;
}

.add-music-button:focus,
.add-music-button:hover, 
.add-music-button:active{
    box-shadow: 0 0 20px 10px #fff;
    background-color: rgb(64, 226, 0);
}