.slider-container{
    width: 100%;
}

/* @media screen and (min-width: 1200px) {
    .slider-container{
        width: 1200px !important;
    }
} */

.category-list-heading{
    color: #fff;
    padding-left: 1rem;   
}

.custom-card-items:focus-visible{
    outline: none;
}

.card-image-container{
    width: 90%;
    margin: auto;
    height: 120px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.card-image{
    width: 100%;
    height: 100%;
    color: #eee;
    text-align: center;
    transition: .5s ease-in-out;
}

.card-image:hover{
    transform: scale(1.1);
}

.artist-card-image-container{
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 524px) {
    .artist-card-image-container{
        width: 120px;
        height: 120px;
    }
}

.artist-card-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #eee;
    text-align: center;
}

.card-text-container{
    width: 100%;
    margin-top: .5rem;
}

.card-text{
    width: 90%;
    margin: auto;
    padding: 0rem 1rem;
}

.song-name,
.album-title,
.artist-name{
    color: rgb(64, 226, 0) !important;
    margin: 0;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.song-name:hover,
.album-title:hover,
.artist-name:hover{
    color: #fff !important;
    text-decoration: underline !important;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .song-name{
        font-size: 1.1rem;
    }

    .album-title{
        font-size: .9rem;
    }

    .artist-name{
        font-size: 1rem;
    }
}
