.page-content{
    bottom: 0;
    overflow-y: auto;
}

.page-content.dark::-webkit-scrollbar{
    background: #0A0F18;
}

.page-content.light::-webkit-scrollbar{
    background: #eee;
}

.page-content::-webkit-scrollbar{
    width: .8rem;
}

.page-content::-webkit-scrollbar-track{
    background: #777;
    border-radius: 100vw;
    margin-block: 2rem;
}

.page-content::-webkit-scrollbar-thumb{
    background: rgb(64, 226, 0);
    border: .15em solid #777;
    border-radius: 100vw;
}

@supports (scrollbar-color: red blue){
    .page-content{
        scrollbar-width: thin;
    }

    .page-content.dark{
        scrollbar-color: rgb(64, 226, 0) #0A0F18 ;
    }

    .page-content.light{
        scrollbar-color: rgb(64, 226, 0) #eee;
    }
}

@media screen and (max-width: 768px) {
    .page-content::-webkit-scrollbar{
        width: .2rem !important;
    }

    .page-content::-webkit-scrollbar-thumb{
        border: none !important;
    }
}

.slider-container{
    width: 100%;
}

.slick-slide{
    padding: 0 .3rem;
}

.category-list-heading{
    padding-left: 1rem;   
}

.category-list-heading.light-heading{
    color: #000;
}

.category-list-heading.dark-heading{
    color: #fff;
}

.song-list-items{
    transition: .3s all linear;
    padding: .5rem 0;
    border-radius: 5px;
}

.dark-card{
    box-shadow: 0 0 5px #777;
    background-color: rgba(255, 255, 255, 0.06);
}

.light-card{
    box-shadow: 0 0 5px #000;
    background-color: #ffffff;
}

/* .custom-card-items:hover{
    background-color: rgba(255, 255, 255, 0.267);
} */

.custom-card-items:focus-visible{
    outline: none;
}

.card-image-container{
    width: 90%;
    margin: auto;
    height: 120px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.card-image{
    width: 100%;
    height: 100%;
    color: #eee;
    text-align: center;
}

.hide-hover-play-icon{
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    display: none;
    transition: 1.5s ease-in-out;
}

.show{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
}

.play-icon-image-overlay{
    color: rgb(64, 226, 0);
    font-size: 4rem !important;
}

.artist-card-image-container{
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 524px) {
    .artist-card-image-container{
        width: 120px;
        height: 120px;
    }
}

.artist-card-image{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    color: #eee;
    margin: auto;
    vertical-align: middle;
}

.custom-card-items .artist-card-image.dark{
    box-shadow: 0 0 10px #777;
}

.custom-card-items .artist-card-image.light{
    box-shadow: 0 0 8px #000;
}

.card-text-container{
    width: 100%;
    margin-top: .5rem;
}

.card-text{
    width: 90%;
    margin: auto;
    padding: 0rem 1rem;
}

.song-name,
.album-title,
.artist-name{
    color: rgb(64, 226, 0) !important;
    margin: 0;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 1px #000;
}

.artist-name{
    padding-top: 0 !important;
}

.hover-dark:hover{
    color: #fff !important;
}

.hover-light:hover{
    color: #000 !important;
}

@media screen and (max-width: 425px) {
    .song-name{
        font-size: 1.1rem;
    }

    .album-title{
        font-size: .9rem;
    }

    .artist-name{
        font-size: 1rem;
    }
}
