.bottom-navigation-container{
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    background-color: #0A0F18;
}

.custom-bottom-navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 1rem 1rem;
    position: relative;
}

.top-one-row{
    border-top: solid 3px rgb(64, 226, 0);
    transition: 2.2s linear all;
}

.timeline{
    position: absolute;
    top: 5px;
    color: #fff;
}

.start{
    left: 10px
}

.end{
    right: 10px;
}

.musicDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
}

.navbarHead-img-container{
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
}

.navbarHead-img{
    width: 100%;
    height: 100%;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-detail-box{
    width: 200px;
}

@media screen and (max-width: 768px) {

    .music-detail-box{
        width: 150px;
    }
}

@media screen and (max-width: 524px){
    .custom-bottom-navigation{
        justify-content: space-between;
    }

    .music-detail-box{
        width: 100px;
    }
}

.music-detail-box>*{
    color: rgb(64, 226, 0);
    margin: auto;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-button-group-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-group{
    color: #eee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.custom-button-group>svg {
    font-size: 2.5rem !important;
    cursor: pointer;
}

.disabled-svg{
    color: rgb(84 84 84);
}
