.bottom-navigation-container{
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
}

.custom-bottom-navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.top-one-row{
    border-top: solid 3px rgb(64, 226, 0);
}

.navbarHead-img-container{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    margin: auto;
}

.navbarHead-img{
    width: 100%;
    height: 100%;
    /* transition: 4s; */
}

.navbarHead-img:hover{
    animation: 2s rotate infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-detail-box{
    width: 60%;
}

@media screen and (max-width: 1024px) {
    .music-detail-box{
        width: 40%;
    }
}

.music-detail-box>*{
    color: rgb(64, 226, 0);
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-button-group-container{
    position: fixed;
    right: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-group{
    color: #eee;
    text-align: center;
}

/* .custom-button-group>*{
    font-size: 2.5em !important;
} */